.label {
    line-height: 1.33333;
    font-weight: 600;
    letter-spacing: -.01em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.label + {
    margin-top: .4em
}

.deprecated .label {
    color: var(--color-aside-deprecated)
}

.experiment .label {
    color: var(--color-aside-experiment)
}

.important .label {
    color: var(--color-aside-important)
}

.note .label {
    color: var(--color-aside-note)
}

.tip .label {
    color: var(--color-aside-tip)
}

.warning .label {
    color: var(--color-aside-warning)
}

aside {
    border-radius: 15px;
    padding: .94118rem;
    border: 1px solid;
}

aside.deprecated {
    background-color: var(--color-aside-deprecated-background);
    border-color: var(--color-aside-deprecated-border);
    box-shadow: 0 0 1px 0 var(--color-aside-deprecated-border) inset, 0 0 1px 0 var(--color-aside-deprecated-border)
}

aside.experiment {
    background-color: var(--color-aside-experiment-background);
    border-color: var(--color-aside-experiment-border);
    box-shadow: 0 0 1px 0 var(--color-aside-experiment-border) inset, 0 0 1px 0 var(--color-aside-experiment-border)
}

aside.important {
    background-color: var(--color-aside-important-background);
    border-color: var(--color-aside-important-border);
    box-shadow: 0 0 1px 0 var(--color-aside-important-border) inset, 0 0 1px 0 var(--color-aside-important-border)
}

aside.note {
    background-color: var(--color-aside-note-background);
    border-color: var(--color-aside-note-border);
    box-shadow: 0 0 1px 0 var(--color-aside-note-border) inset, 0 0 1px 0 var(--color-aside-note-border)
}

aside.tip {
    background-color: var(--color-aside-tip-background);
    border-color: var(--color-aside-tip-border);
    box-shadow: 0 0 1px 0 var(--color-aside-tip-border) inset, 0 0 1px 0 var(--color-aside-tip-border)
}

aside.warning {
    background-color: var(--color-aside-warning-background);
    border-color: var(--color-aside-warning-border);
    box-shadow: 0 0 1px 0 var(--color-aside-warning-border) inset, 0 0 1px 0 var(--color-aside-warning-border)
}

aside .label {
    font-size: 1rem;
    line-height: 1.52941;
    font-weight: 600;
    letter-spacing: -.021em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.label + p {
    margin-top: 0.4em;
}

* + aside,
* + figure,
aside + *,
figure + * {
    margin-top: 1.6em
}
