
.summary {
    color: var(--colors-secondary-label, var(--color-secondary-label));
    font-size: .94118rem;
    margin-bottom: 3rem;
    padding: 5px 0 0 4em
}

@media only screen and (max-width: 1068px) {
    .summary {
        padding-left: 2em
    }
}

@media only screen and (max-width: 735px) {
    .summary {
        padding-left: 0;
        margin-bottom: 2.35294rem;
        display: grid;
        grid-gap: .94118rem;
        grid-template-columns: repeat(auto-fill, minmax(128px, 1fr))
    }
}

.content-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto minmax(0, 1fr)
}

@media only screen and (max-width: 735px) {
    .content-grid {
        display: block
    }
}

.content-grid:after,
.content-grid:before {
    display: none
}

.content-grid.full-width {
    grid-template-columns: 100%
}

.container {
    margin-left: auto;
    margin-right: auto;
    outline-style: none;
    width: 980px;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 1068px) {
    .container {
        width: 692px
    }
}

@media only screen and (max-width: 735px) {
    .container {
        width: 87.5%
    }
}